<%= form_for @sleep_report do |form| %>
  <label>Alseep at</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4">
      <%= datetime_field(:sleep_report, :asleep_at, class: "form-control") %>
    </div>
  </div>

  <label>Wakeup at</label>
  <div class="row">
    <div class="input-group mb-3 col-lg-4">
      <%= datetime_field(:sleep_report, :wakeup_at, class: "form-control") %>
    </div>
  </div>

  <hr>
  <button type="submit" class="btn btn-primary btn">Submit</button>&nbsp;&nbsp;
  <%= link_to "Back", sleep_reports_path, class: "btn btn-outline-secondary btn" %>
<% end %>
