<h1>Editing Sleep Report</h1>

<%= render 'form', sleep_report: @sleep_report %>

<br>
<%= link_to 'Back', sleep_reports_path, class: "btn btn-outline-secondary" %>&nbsp;
<%= link_to 'Show', @sleep_report, class: "btn btn-outline-secondary" %>
