<table class="table">
  <tr>
    <td>Distance</td>
    <% if cardio_report.location %><td>Location</td><% end %>
    <% if cardio_report.elevation_grade %><td>Grade</td><% end %>
    <td>Calories</td>
  </tr>
  <tr>
    <td><b><%= '%.1f' % cardio_report.distance_miles %></b> miles</td>
    <td><%= cardio_report.location || 'N/A' %></td>
    <% if cardio_report.elevation_grade %>
      <td><b><%= (cardio_report.elevation_grade * 100).to_i %></b>%</td>
    <% end %>
    <td><b><%= cardio_report.calories.to_i %></b> kcal</td>
  </tr>
</table>