<h1>Cardio Reports</h1>

<%= alert_cardio_report_reminder %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#reports" data-toggle="tab">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#metrics" data-toggle="tab">Metrics</a>
  </li>
</ul>
<br>

<div class="tab-content">
  <div id="reports" class="tab-pane active show">
    <%= render "reports" %>
  </div>
  <div id="metrics" class="tab-pane">
    <%= render "metrics" %>
  </div>
</div>