<nav class="navbar text-muted bg-light">
  <div class="row w-100">
    <span class="col d-none d-xl-block">
      <%= dev_banner_text_html %>
    </span>
    <span class="col d-none d-lg-block">
      <%= dev_banner_text_html %>
    </span>
    <span class="col d-none d-md-block">
      <%= dev_banner_text_html %>
    </span>
    <span class="col">
      <%= dev_banner_text_html %>
    </span>
  </div>
</nav>