<% flash.each do |level, message| %>
  <nav class="navbar navbar-light text-white <%= color_class(level, true) %>">
    <p style="width: 100%; text-align: center; margin: 0 0 0 0"><%= message %></p>
  </nav>
<% end %>
<% flash.clear %>
<br>