<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><i>Self</i>-Metrics</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href=<%= sleep_reports_path %>>Sleep</a>
    <a class="nav-item nav-link" href=<%= weight_reports_path %>>Weight</a>
    <a class="nav-item nav-link" href=<%= cardio_reports_path %>>Cardio</a>
  </div>
</nav>